td{
    width: 500px;
    height: 200px;
    background-color: aqua;
    background-image: url 
}

tr{
    width: 500px;
    height: 10px;
    background-color: royalblue;
    background-image: url 
}

tbody{
    width: 500px;
    height: 300px;
    background-color: turquoise;
    background-image: url 
}

a:link{
    color:cornflowerblue;
}

a:visited{
    color:gold ;
}

a:hover{
    color:lightsalmon;
}
